@import '../../../base';

.btn--back{
    justify-self: center;
    background-color: $color-lavender-tea;
    width: 5em;
    height: 3em;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
}
