@import '../../base';

.exercisesPage{
    @extend %grid-3columns;

    .exercisesPage--bar{
        grid-column: 1/4;
        @extend %bar;
    }

    .exerciseList{
        grid-column: 2/3;
        margin-bottom: 3em;

        .exercise{
            margin: 0.5vh;
        }
    }
}