nav{
    position: fixed;
    bottom: 0;
    background-color: blueviolet;
    width: 100%;

    ul{
        display: flex;
        justify-content: center;

        li{
            padding: 1em;

            a{
                color: white;
                padding: 1em;
            }
        }
    }
}