@import '../../../base';

nav{
    position: fixed;
    bottom: 0;
    background-color: $color-aqua;
    width: 100%;

    ul{
        display: flex;
        justify-content: center;

        li{
            padding: 1em;

            a{
                font-weight: bold;
                color: $color-lavender-tea;
                padding: 1em;
            }
            a:hover{
                background-color: $color-lavender-rose;
                color: $color-aqua;
            }
        }
    }
}