$color-berry: #B53471;
$color-magenta: #6F1E51;
$color-lavender-tea: #D980FA;
$color-lavender-rose: #FDA7DF;
$color-forgotten: #9980FA;
$color-ring: #5758BB;
$color-aqua: #006266;
$color-martina: #12CBC4;
$color-red: #EA2027;
$color-energos: #C4E538;
$color-city-lights: #dfe4ea;
$color-android: #A3CB38;

%flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }

%grid-3columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
}

%bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: $color-aqua;
}

